<div class="card">
    <img src="images/@Crew.Id/captain.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Crew.Name</h5>
        <p class="card-text">@Crew.Description</p>
        <a href="warband/@Crew.Id" class="card-link">Show Crew</a>
    </div>
</div>

@code {

    [Parameter]
    public Crew Crew { get; set; }
}